/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/11/2017, 02:29:55 PM
    Author     : javierfsilva7
*/

/* css de la vista de login tomado de: https://bootsnipp.com/snippets/featured/parallax-login-form-reload*/

body {
    background-color: #444;
    background: url(/img/background.jpg);
    background-repeat: no-repeat;  

}
.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 100px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.col-md-4[id="ta"]{

    position:fixed;
    right: 0%;
    left:10%;
    top:50%;
    margin-left:0px;
    margin-right:0px;
    margin-top:-200px;
}

.col-md-4[id="mr"]{

    position:fixed;
    right: 0%;
    left:40%;
    top:50%;
    margin-left:0px;
    margin-right:0px;
    margin-top:-200px;
}

.col-md-4[id="mv"]{

    position:fixed;
    right: 0%;
    left:70%;
    top:50%;
    margin-left:0px;
    margin-right:0px;
    margin-top:-200px;
}
